<script>
  (function(window, document, script, url, gaObject, firstScript, gaElement) {
    // Define the Google Analytics object
    window[gaObject] = window[gaObject] || function() {
      (window[gaObject].q = window[gaObject].q || []).push(arguments);
    };
    window[gaObject].l = new Date().getTime();

    // Create a script element to load Google Analytics
    gaElement = document.createElement(script);
    firstScript = document.getElementsByTagName(script)[0];
    gaElement.async = true;
    gaElement.src = url;

    // Insert the script element before the first script on the page
    firstScript.parentNode.insertBefore(gaElement, firstScript);
  })(
    window,
    document,
    'script',
    'https://www.google-analytics.com/analytics.js',
    'ga'
  );

  // Initialize Google Analytics
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
