<div class="section footer">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-4">&nbsp;</div>
      <div class="w-col w-col-4" style="text-align: center;">© Copyright 2020 Dejan Grujic - All Rights Reserved.</div>
      <div class="w-col w-col-4">&nbsp;</div>
    </div>
  </div>
</div>
<script src="{{ "assets/js/webflow.5506c7a16.js" | relative_url }}" type="text/javascript"></script>
<script>
  $("#flipbook").turn({
    width: 580,
    height: 400,
    autoCenter: true
    });
    
    $("#pageFld").val($("#flipbook").turn("page"));
    
    $("#flipbook").bind("turned", function(event, page, view) {
    $("#pageFld").val(page);
    });
    
    $("#pageFld").change(function() {
    $("#flipbook").turn("page", $(this).val());
    });
    
    $("#prevBtn").click(function() {
    $("#flipbook").turn("previous");
    });
    
    $("#nextBtn").click(function() {
    $("#flipbook").turn("next");
    });
  </script>