<header class="navbar w-nav">
    <div class="w-container">
      <!-- Logo -->
      <a href="{{ "/" | relative_url }}" class="brand w-nav-brand">
        <img
          src="{{ "assets/img/logo-white.png" | relative_url }}"
          width="150"
          alt="Dejan Grujic logo"
          class="stone-logo"
        />
      </a>
  
      <!-- Navigation Menu -->
      <nav role="navigation" aria-label="Main Navigation" class="nav-menu w-nav-menu">
        <a href="{{ '/pages/crtica.html' | relative_url }}" class="nav-link w-nav-link">Crtica</a>
        <a href="{{ '/pages/rec.html' | relative_url }}" class="nav-link w-nav-link">Reč</a>
        <a href="{{ '/pages/biografija.html' | relative_url }}" class="nav-link w-nav-link">Biografija</a>
        <a href="{{ '/pages/galerija.html' | relative_url }}" class="nav-link w-nav-link">Galerija</a>
      </nav>
  
      <!-- Mobile Menu Button -->
      <button
        class="menu-button w-nav-button"
        aria-label="Toggle navigation menu"
        aria-expanded="false"
        aria-controls="nav-menu"
      >
        <span class="menu-icon w-icon-nav-menu"></span>
      </button>
    </div>
  </header>
  