/* modal.css */

/* Crop images in lightbox */
.carousel-item {
  img {
    max-height: 80vh;
    max-width: 80vw;
    object-fit: contain;
  }
}

/* Modal container */
#galleryModal.custom {
  .modal-content {
    background: none;
    border: none;
  }

  .modal-header {
    border: none;

    button {
      background: none;
      border-radius: 100px 100px 0 0;
      padding: 5px 10px;
      opacity: 1;
      position: relative;
      top: 3px;
      border: solid 2px white;

      @media (min-width: 992px) {
        top: 15px;
      }

      &:hover {
        top: 3px;
      }
    }

    span {
      color: white;
    }
  }

  .modal-body {
    padding: 0;
    border: none;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 50px;
      width: 50px;
      display: block;
      position: absolute;
      background: white;
      border-radius: 3px 10px;

      @media (min-width: 768px) {
        border-radius: 3px 30px;
        height: 100px;
        width: 100px;
      }
    }

    &::before {
      top: -5px;
      left: -5px;

      @media (min-width: 768px) {
        top: -15px;
        left: -15px;
      }
    }

    &::after {
      bottom: -5px;
      right: -5px;
      z-index: -1;

      @media (min-width: 768px) {
        bottom: -15px;
        right: -15px;
      }
    }
  }

  .modal-footer {
    border: none;
    margin-top: 60px;

    @media (min-width: 992px) {
      margin-top: 40px;
    }

    .btn {
      margin: auto;
      border: solid 2px white;
      background: none;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
      font-weight: bold;
      padding: 0.2em 0.7em;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}