---
layout: default
title: Crtica
permalink: /crtica/
description: Crtica je autorski tekst u kojem Dejan Grujić komentariše svakodnevne događaje posmatrane kroz prizmu običnog čoveka.
---
{% for crtica in site.data.crtice %}
    {% assign remainder = forloop.index0 | modulo: 2 %}
    {% if remainder == 0 %}
    <div class="section">
    {% else %}
    <div class="section lightgrey">
    {% endif %}
        <div class="w-container">
            {% if forloop.first == true %}
                <div class="w-row" style="margin-bottom: 20px;">
                    <h1 class="project-title">Odabrane crtice</h1>
                </div>
            {% endif %}

            <div class="w-row">
                <h2 class="project-title">{{crtica.date}}</h2>
                {% for paragraph in crtica.paragraphs %}
                    <p class="project-description">
                            {{paragraph.text}}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}