---
layout: default
title: Galerija
permalink: /galerija/
description: Slike Dejana Grujića i njegovih poznanika, kolega, prijatelja sa posla, promocija, svakodnevnih dešavanja...
---

<div class="section">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-4">
                <h1 class="project-title">Galerija</h1>
            </div>
        </div>
        <div class="w-row">
            <div class="row custom" id="gallery" data-toggle="modal" data-target="#galleryModal">
                {% for picture in site.data.gallery_pictures %}
                <div class="col-12 col-sm-6 col-lg-3" style="padding-top:15px;">
                    <img class="w-100" src="{{ "assets/img/galerija/"  | relative_url }}{{picture.picture_path}}"
                     alt="{{picture.picture_header}}" data-target="#galleryCarousel" data-slide-to={{forloop.index0}}>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom" id="galleryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-fullscreen">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for picture in site.data.gallery_pictures %}
                            {% if forloop.first == true %}
                                <li data-target="#galleryCarousel" class="active"></li>
                            {% else %}
                                <li data-target="#galleryCarousel"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for picture in site.data.gallery_pictures %}
                            {% if forloop.first == true %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                    <img class="d-block w-100" src="{{ "assets/img/galerija/"  | relative_url }}{{ picture.picture_path }}"
                                    alt="{{picture.picture_header}}">
                                    <div class="carousel-caption">
                                        <h3 style="background-color:#F5F5DC; color: black;"></h3>
                                        <p style="background-color:#F5F5DC; color: black;">{{picture.picture_header}}</p>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script src="{{ "/assets/js/jquery-3.5.1.slim.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>

<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">