---
layout: default
title: Rec
permalink: /rec/
description: Ovde će biti dosta reči o tome šta su o, delima Dejana Grujića, govorili mnogobrojni poštovaoci, poznanici, kolege, prijatelji.
---
{% for rec in site.data.reci %}
    {% assign remainder = forloop.index0 | modulo: 2 %}
    {% if remainder == 0 %}
    <div class="section">
    {% else %}
    <div class="section lightgrey">
    {% endif %}
        <div class="w-container">
            {% if forloop.first == true %}
            <div class="w-row" style="margin-bottom: 20px;">
                <h1 class="project-title">Reči dragih ljudi</h1>
            </div>
            {% endif %}
            <div class="w-row">
                <div class="w-col w-col-12">
                    <p class="subheading">{{rec.text}}</p>
                    <p class="subheading" style="text-align: right;">{{rec.author}}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}